APScheduler==3.7.0
boto3==1.16.28
beautifulsoup4==4.6.0
dj-database-url==0.4.2
Django==3.0.8
django-cors-headers==3.4.0
django-environ==0.4.5
django-extensions==2.0.7
django-graphql-jwt==0.3.1
django-rest-auth==0.9.3
django-rest-passwordreset==1.1.0
django-tenant-schemas==1.9.0
djangorestframework==3.10.3
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==4.4.0
djangorestframework-xml==2.0.0
fake-useragent==0.1.11
future==0.18.2
graphene==2.1.8
graphene-django==2.13.0
graphql-core==2.3.2
graphql-relay==2.0.1
gunicorn==19.7.1
keen==0.6.1
lxml==4.2.3
newrelic==5.14.0.142
paramiko==2.7.1
postmarker==0.15.0
psycopg2==2.7.4
pusher===3.0.0
pyfcm==1.5.1
PyJWT==1.6.1
python-dateutil==2.8.0
pytz==2018.3
redis==3.5.3
requests==2.25.0
requests-toolbelt==0.9.1
rq==1.0
sendgrid==5.6.0
squareconnect==2.5.1
stripe==2.41.1
twilio==6.27.0
usaddress==0.5.10
whitenoise==5.1.0

colorama==0.4.3
Faker==4.1.1
pytest-django==4.1.0
pytest-cov==2.11.1